<!DOCTYPE html>
<head>
	<title>{{title}}</title>
	<link rel="icon" href="/img/weather.png"/>
	<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>{{aboutText}}</p>
		<img src="/img/robot.png" alt="Robot" class="portrait"/>
	</div>

	{{>footer}}
</body>
</html>
