<!DOCTYPE html>
<head>
	<title>{{title}}</title>
	<link rel="icon" href="/img/weather.png"/>
	<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>This site was created by Tom Bran. It contains data from <a href="https://www.mapbox.com/" target="_blank">mapbox.com</a> and <a href="https://www.weatherstack.com/" target="blank">weatherstack.com</a>,</p>
		<img src="/img/robot.png" alt="Robot" class="portrait"/>
	</div>

	{{>footer}}
</body>
</html>
